* {
    font-family: 'Poppins', sans-serif;
}


.image {
    margin: 20px 0px;
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.button{

    background-color: #ef4b42;
    color: #fff;
    padding: 10px 32px;
    border: none;

}